<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://play-lh.googleusercontent.com/pMnvB-u74E-yX0IzEJG5O546vIRmZDUV5ZZVHG_Xwv3f_Gb-XaYQCU1yEi-yqU7K2Gw">
    <title>Diskon | CalcuNow</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="min-h-screen bg-green-300 flex items-center justify-center">

        <div class="card p-10 bg-orange-300 font-['poppins'] rounded-[20px]">
            <h1 class="text-center text-2xl font-bold">Diskon</h1> 
            
            <div class="flex flex-col text-center gap-4 mt-5 relative">
                <a href="../index.html" class="w-7 h-7 rounded-[40px] absolute -right-[55px] -top-[100px] text-[20px] font-bold bg-red-500">X</a>

                <div class="gap-2 font-semibold flex flex-col ">
                    <label for="harga">Harga</label>
                    <input type="number" id="harga" class="ring-2 ring-sky-200 ring-offset-2 ">
                </div>

                <div class="gap-2 font-semibold flex flex-col  ">
                    <label for="diskon">Diskon</label>
                    <input type="number" id="diskon" onkeyup="cari()">
                </div>
                
                <div class="gap-2 font-semibold flex flex-col   rounded-xl">
                    <div class="flex flex-wrap bg-sky-200 font-bold text-slate-800">
                        <span class="mr-2">Hasil</span>
                        <input type="text" disabled id="hasil">
                    </div>
                </div>

                <div id="harga"></div>
                <div id="diskon"></div>
            </div>

        </div>

    </div>

    <script src="../js/diskon.js"></script>
</body>
</html>